# git ignore file

_ReSharper*/
bin/
obj/
*/bin/
*/obj/
*/*/bin/
*/*/obj/ 
*.suo
*.sln.DotSettings.user

*.Web/App_Data/TEMP/
*.Web/App_Data/umbraco.config
*.Web/data/
*.Web/Images/Cached/
*.Web/Media/*/Cached/

SMTP Pickup/